<div class="row">

    <div class="col-6">
        <app-dona 
            title="Ventas"
            [data]="data1">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona 
            title="Compras"
            [data]="data1"
        ></app-dona>
    </div>

    <div class="col-6">
        <app-dona
            title="Pruebas"
            [data]="data1"
        ></app-dona>
    </div>

    <div class="col-6">
        <app-dona
            title="Cambios" 
            [data]="data1"   
        ></app-dona>
    </div>
    
</div>